@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div.background {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    background-color: #707070;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}

header p {
    color: #fff;
}

header p.p1 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 70px;
}

header p.p2 {
    font-size: 40px;
    line-height: 49px;
    font-weight: bold;
}

header p.p3 {
    font-size: 14px;
    line-height: 16px;
    margin-top: 24px;
}

header nav ul {
    display: flex;
    margin-top: 50px;
    list-style: none;
}

header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    margin: 0 20px;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    background-color: #fff;
}

header nav ul li a {
    text-decoration: none;
    color: #888888;
    font-size: 14px;
    line-height: 16px;
}

main {
    width: 930px;
    margin: 0 auto;
}

main section.section-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

main section.section-1 article{
    width: 520px;
}

main section.section-1 article h2 {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    color: #888888;
}

main section.section-1 article h2 span {
    display: none;
}

main section.section-1 article p {
    font-size: 12px;
    line-height: 18px;
    color: #888888;
}

main section.section-1 form{
    width: 340px;
}

main section.section-1 form label {
    font-size: 12px;
    line-height: 14px;
    color: #888888;
}

main section.section-1 form input.input {
    width: 100%;
    height: 30px;
    border: 1px solid #707070;
    margin-top: 7px;
    margin-bottom: 20px;
}

main section.section-1 form input.radio {
    border: 1px solid #707070;
    margin-bottom: 0;
}

main section.section-1 form label.label {
    margin-right: 40px;
}

main section.section-1 form button {
    width: 100%;
    height: 40px;
    margin-top: 23px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #707070;
    border-radius: 4px;
    background-color: #fff;
    color: #888888;
}

main section.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section.section-2 div.line {
    width: 100%;
    height: 40px;
    margin: 70px 0 40px 0;
    display: flex;
}

main section.section-2 div.line div.line-1 {
    border-bottom: 1px solid #707070;
    width: 357.5px;
    height: 20px;
}

main section.section-2 div.line div.title {
    width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.section-2 div.line div.title h2 {
    font-size: 18px;
    line-height: 16px;
    color: #888888;
}

main section.section-2 div.line div.line-2 {
    border-bottom: 1px solid #707070;
    width: 357.5px;
    height: 20px;
}

main section.section-2 div.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main section.section-2 div.products article {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

main section.section-2 div.products article figure {
    border: 1px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.section-2 div.products article p {
    color: #888888;
    font-size: 12px;
    line-height: 16px;
}

main section.section-2 div.products article p.name {
    margin-top: 14px;
    font-size: 16px;
}

main section.section-2 div.products article p.description {
    width: 200px;
    height: 60px;
    margin-top: 10px;
}

main section.section-2 div.products article p.price {
    margin-top: 6px;
    font-weight: bold;
    font-size: 16px;
}

main section.section-2 div.products article p.installments {
    margin-top: 7px;
}

main section.section-2 div.products article button {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    font-size: 16px;
    line-height: 16px;
}

main section.section-2 button.more-products {
    margin-top: 12px;
    width: 260px;
    height: 39px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    font-size: 16px;
    line-height: 16px;
}

main section.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section.section-3 div.line {
    width: 100%;
    height: 40px;
    margin: 120px 0 34px 0;
    display: flex;
}

main section.section-3 div.line div.line-1 {
    border-bottom: 1px solid #707070;
    width: 357.5px;
    height: 20px;
}

main section.section-3 div.line div.title {
    width: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.section-3 div.line div.title h2 {
    font-size: 18px;
    line-height: 16px;
    color: #888888;
}

main section.section-3 div.line div.line-2 {
    border-bottom: 1px solid #707070;
    width: 357.5px;
    height: 20px;
}

main section.section-3 p {
    font-size: 14px;
    line-height: 16px;
    color: #888888;
}

main section.section-3 form {
    width: 720px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section.section-3 form div.input-group{ 
    height: 50px;
    display: flex;
}

main section.section-3 form div.input-group div.input {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

main section.section-3 form div.input-group div.input label {
    font-size: 12px;
    line-height: 14px;
    color: #888888;
}

main section.section-3 form div.input-group div.input input {
    width: 340px;
    height: 30px;
    margin-top: 7px;
    background-color: #fff;
    border: 1px solid #707070;
}

main section.section-3 form button {
    margin-top: 50px;
    width: 260px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #888888;
}

footer {
    position: relative;
    margin-top: 70px;
    height: 290px;
    display: flex;
    justify-content: center;
}

footer div.background {
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 290px;
    background-color: #707070;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
}

footer p {
    margin-top: 158px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}

@media(max-width: 420px) {
    header{
        align-items: flex-start;
    }

    header p {
        margin-left: 16px;
    }

    header p.p1 {
        margin-top: 66px;
    }

    header p.p3 {
        width: 359px;
        margin-top: 9px;
    }

    header nav {
        align-self: center;
    }    

    header nav ul {
        width: 345px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 46px;
    }

    header nav ul li {
        margin: 10px 0;
    }
    
    main {
        width: 100vw;
    }

    main section.section-1 {
        flex-direction: column;
        padding: 30px 16px 0 16px;
        justify-content: flex-start;
    }

    main section.section-1 article{
        width: 386px;
    }

    main section.section-1 article h2 {
        margin-bottom: 16px;
    }

    main section.section-1 article h2 span {
        display: inline;
    }

    main section.section-1 article p {
        height: 220px;
        overflow: hidden;
    }

    main section.section-1 article p br.br {
        display: none;
    }

    main section.section-1 form {
        width: 385px;
        margin-top: 30px;
    }

    main section.section-2 div.line {
        margin: 90px 0 23px 0;
    }

    main section.section-2 div.line div.line-1 {
        width: 102.5px;
    }

    main section.section-2 div.line div.line-2 {
        width: 102.5px;
    }

    main section.section-2 div.products {
        flex-direction: column;
    }

    main section.section-2 div.products article {
        width: 403px;
        flex-direction: row;
    }

    main section.section-2 div.products article figure {
        width: 170px;
        height: 130px;
    }

    main section.section-2 div.products article figure img {
        max-width: 168px;
        max-height: 128px;
    }

    main section.section-2 div.products article div.product-container {
        margin-left: 23px;
        width: 200px;
    }

    main section.section-2 div.products article p.name {
        margin-top: 0;
    }

    main section.section-2 div.products article p.oldPrice {
        margin-top: 13px;
    }

    main section.section-2 div.products article p.description {
        display: none;
    }

    main section.section-3 div.line {
        margin: 120px 0 18px 0;
    }

    main section.section-3 div.line div.line-1 {
        width: 102.5px;
    }

    main section.section-3 div.line div.line-2 {
        width: 102.5px;
    }

    main section.section-3 p {
        text-align: center;
    }

    main section.section-3 form {
        width: 100%;
        margin-top: 30px;
    }

    main section.section-3 form div.input-group{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    main section.section-3 form div.input-group div.input input {
        width: 391px;
        margin-bottom: 20px;
    }

    main section.section-3 form button {
        margin-top: 22px;
    }

    footer {               
        height: 157px;
        margin-top: 85px;
    }

    footer div.background {              
        height: 157px;
    }

    footer p { 
        margin-top: 70px
    }
}